@font-face{
	font-family: 'Cisco Sans';
	src: url('../fonts/CiscoSans.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

@font-face{
	font-family: 'Cisco Sans';
	src: url('../fonts/CiscoSans.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 500;
}

@font-face{
	font-family: 'Cisco Sans';
	src: url('../fonts/CiscoSans.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 600;
}

@font-face{
	font-family: 'Cisco Sans';
	src: url('../fonts/CiscoSans-Bold.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 700;
}