.btn{
	text-align: center;
	padding: 8px 32px;
	min-height: 40px;

	border: 0;
	border-radius: 20px;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	transition: all var(--t);
	cursor: pointer;
	appearance: none;
	white-space: nowrap;

	background: linear-gradient(to bottom, #0076D5 0%, #00BCEB 50%, #00BCEB 100%);
	background-position: center top;
	background-size: 100% 200%;
	color: #fff;

	position: relative;

	font-family: var(--second-font);
	font-size: 14px;
	line-height: 1.428;

	&:hover,
	&:focus{
		outline: none;
		background-position: center bottom;
	}

	&.btn-small{
		min-height: 32px;
		border-radius: 16px;
		padding: 4px 20px;
	}

	&.btn-white{
		--btn-bg: #fff;
		--btn-hover-bg: rgba(255, 255, 255, .7);
		--btn-color: var(--primary);

		&:hover,
		&:focus{
			background: var(--btn-hover-bg);
			border-color: #fff;
		}
	}

	&.btn-stroke{
		background: transparent;
		position: relative;
		border-radius: 20px;
		color: var(--primary);
		z-index: 2;
		background: linear-gradient(to bottom, transparent 0%, transparent 33.3%, #0076D5 66.6%, #00BCEB 100%);
		background-position: center top;
		background-size: 100% 300%;

		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			border: 2px solid transparent;
			border-radius: 20px;
			background: linear-gradient(to bottom, #0076D5 0%, #00BCEB 50%, #00BCEB 100%) border-box; /*3*/
			-webkit-mask:
				linear-gradient(#fff 0 0) padding-box, 
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: xor;
					mask-composite: exclude;
			z-index: -1;
			transition: all var(--t);
		}

		&:hover,
		&:focus{
			color: #fff;
			background-position: center bottom;
		}

		&.btn-white{
			border: 2px solid #fff;
			color: #fff;

			&:before{
				display: none;
			}

			&:hover,
			&:focus{
				background: #fff;
				color: var(--text-dark);
			}
		}
	}

	&.btn-transparent{
		--btn-bg: transparent;
		--btn-color: var(--primary);
		--btn-hover-bg: transparent;
		padding-left: 24px;
		padding-right: 24px;
		font-family: var(--main-font);

		&:hover,
		&:focus{
			--btn-color: var(--primary-lighten);
		}
	}

	&.btn-fullwidth{
		width: 100%;
	}

	// &:active{
	// 	transform: translateY(2px);
	// }
}