.table{
	border-spacing: 0;
	width: 100%;

	td,
	th{
		font-size: 14px;
		text-align: left;
		line-height: 1.5;
		padding: 16px 20px;
	}

	th{
		font-weight: 400;
		color: var(--text-color);
		border-bottom: 1px solid rgba(#D2D6E5, .4);
	}

	td{
		font-weight: 500;
		color: var(--text-dark);
	}

	.status{
		&.open{
			color: var(--primary);
		}
	}

	@media screen and (max-width: 1199px){
		td,
		th{
			padding-left: 16px;
			padding-right: 16px;
		}
	}
}

.table-options-block{
	position: relative;
	width: 32px;
	height: 32px;

	.block-opener{
		width: 32px;
		height: 32px;
		border-radius: 4px;
		border: 1px solid var(--primary);
		background: var(--primary);
		display: flex;
		align-items: center;
		justify-content: center;

		.btn-icon{
			width: 14px;
			height: 14px;
			display: block;
			fill: #fff;
		}
	}

	.block-actions-list{
		display: grid;
		grid-gap: 16px;

		a{
			display: flex;
			align-items: center;
			font-size: 12px;
			line-height: 20px;
			font-weight: 600;
			color: var(--text-dark);
			text-transform: uppercase;

			.link-icon{
				width: 14px;
				height: 14px;
				display: block;
				flex: none;
				margin-right: 9px;
				fill: #98A9BC;
			}

			&:hover,
			&:focus{
				color: var(--primary);
			}
		}
	}

	.block-hidden-content{
		position: absolute;
		right: 0;
		top: calc(100% + 8px);
		background: #fff;
		padding: 24px;
		z-index: 20;
		box-shadow: var(--shadow);
		border-radius: 4px;
		transition: all var(--t);
		transform: translateY(30px);
		opacity: 0;
		visibility: hidden;
		width: 192px;
	}

	&:focus-within{
		.block-opener{
			background: transparent;

			.btn-icon{
				fill: var(--primary);
			}
		}

		.block-hidden-content{
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}
}

.invoices-table-wrapper{
	width: 100%;
	border-radius: var(--r);
	box-shadow: var(--shadow);
	background: #fff;
}

.invoice-name-block{
	display: flex;
	align-items: center;
	white-space: nowrap;

	.block-icon{
		width: 24px;
		height: 24px;
		fill: var(--primary);
		display: block;
		flex: none;
		margin-right: 10px;
	}
}

.invoices-list{
	display: grid;
	grid-gap: 24px;
}

.invoice-card{
	padding: 24px;
	border-radius: var(--r);
	box-shadow: var(--shadow);
	background: #fff;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px 16px;

	.card-label{
		margin-bottom: 8px;
	}

	.card-value{
		color: var(--text-dark);
		font-weight: 500;
	}

	.wide{
		grid-column: 1 / -1;
	}

	@media screen and (max-width: 575px){
		grid-template-columns: 1fr 1fr;
	}
}